*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #eaeaea;
   
}

#wrapperSheet{
    margin:auto;
    border:8px double black;
    width: 794px; height: 1123px;
    background: #d0f0e0; 
     background-image: url("white.png");
      background-size: 350px;  
      background-position: center;  
      background-repeat: no-repeat; 
    
}
.top-section {
    text-align: center;
    font-weight: bold;
    border:1px solid black;
      display: grid;
      grid-template-columns: 100px 1fr 100px; 
      align-items: center;
      padding: 10px 10px;
}

.photo img{
      width: 100px;
      height:100px;
      object-fit: cover;
 }
 .logo img{
    margin-top:8px;
         width:100px;
      height: 100px;
      object-fit:cover;

 }
.sup-top{
    margin-top: 10px;
}
.reg{
    display: flex;
}
.reg h2{
    padding-left: 10px;
    
}
.reg h3{
    padding-left:5px;
    padding-top:5px;
}
.reg p{
    padding-top:7px;
    padding-left: 8px;
    font-weight: 400;
}
.reg b{
    padding-top: 7px;
}
.reg .folloNo {
    padding-left:180px;
}



.column1{
    width:17%;
   
}
.column2{
    width:55%;
}
.month{
    width:17%;
}
.apl{
    width:20px;
} 
.lastbox,.apl{
     background: radial-gradient(circle, #e9b777, #ebe6db, #e9b777);
}
.info tr,td{
    border:1px solid black;
    font-size:13px;
    border-top: none;
    padding :4px;
    border-collapse: collapse;
    font-weight: 600;
}
.markDetailes thead tr th{
        font-weight: 600;
}


 .marksheet {
      width: 100%;
      border-collapse: collapse;  /* remove double borders */
      font-family: Arial, sans-serif;
      font-size: 14px;
      
    }

    .marksheet th, .marksheet td {
      border: 1px solid black;
      /* padding: 6px 10px; */
      text-align: center;
      border-top: none;
      border-bottom: none ;
    }

    .marksheet thead tr {
      border-bottom: 2px solid black; /* strong line under heading */
    }

    .marksheet td.course-title {
      text-align: left; 
    }
.note{
    font-size: small;
    text-align: center;
}



.gpa-table {
      width: 100%;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      font-size: 14px;
      text-align: center;
    }

    .gpa-table th, .gpa-table td {
      border: 1px solid black;
      padding: 6px 8px;
    }

    .gpa-table th {
      background-color: #f2f2f2;
    }

    .footer-row td {
      font-weight: bold;
      text-align: left;
    }



      .exam-notes {
      width: 100%;
      font-family: Arial, sans-serif;
      font-size: 13px;
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      padding-bottom: 40px;
      padding-top:5px;
      padding-left: 10px;
      background-color: #dfdfdf;
    }

    



    .marksheet-footer {
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin-top: 5px;
  border: none;
}

.footer-table {
  width: 100%;
}

.footer-table td {
  padding: 4px 6px;
  vertical-align: bottom; }

.footer-left {
  color: red;
  font-weight: bold;
  width: 25%;
  line-height: 1.4;
}

.footer-stamp,
.footer-logo,
.footer-right ,.footer-left,.sign{
  text-align: center;
  border:none;
}

.footer-stamp img {
  max-width: 65px;
  max-height: 65px;
  opacity: 0.9; 
}

.footer-logo img {
  max-width: 55px;
  max-height: 55px;
  opacity: 0.9;
}

.footer-right img {
  max-width: 95px;
  max-height: 38px;
  display: block;
  margin: 0 auto 3px auto;
}

.footer-right {
  font-weight: bold;
  font-size: 12px;
}